@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tyler (T-Money) Curtis";
}

<h1 class="card-header">Grade Calculator+</h1><br />

<div class="container col-sm-10 justify-content-center align-items-center">
    <img class="shadow" style="height:400px" src="img/i-like-traveling.jpg" />
</div>

<br />

<h2>T-Money | IS 413</h2>
<p>
    Upon completing IS413, I want to be able to use ASP.NET proficiently.
    However, the main thing I want to learn is how to use strongly typed languages
    to build web applications. Yeah, part of it is adding it to my resume. But I also
    really enjoy coding! I already like this course a lot!
</p><br />

<h2>Top 3 jobs I would want to pursue upon graduation:</h2>
<ol>
    <li>Software Developer</li>
    <li>Software Engineer</li>
    <li>CTO</li>
</ol><br />


